.photo {
  flex: 1;
  margin: 1rem;
  width: 325px;
  height: auto;
  border: 1px solid var(--color-primary-300);
  box-shadow: var(--color-gray-1000) -15px -15px 0px -3px,
    var(--color-primary-300) -15px -15px;
}
