.intro {
  margin: auto;
  padding: 2rem 0;
  flex-direction: row;
}

.intro p {
  max-width: 75%;
}

.first {
  line-height: 1;
  font-size: 16px;
  color: var(--color-gray-400);
}
.second {
  line-height: 1.2;
  font-size: clamp(38px, 8vw, 80px);
  font-weight: 600;
  color: var(--color-primary-500);
}
.third {
  line-height: 1.1;
  font-size: clamp(28px, 8vw, 70px);
  font-weight: 400;
  color: var(--color-primary-300);
}
